.reset-passwd {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    justify-content: center;
    transition: 0.5s;
    color: white;
    width: 95vw;
    max-width: 20rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.btn {
    height: 3em;
}

p,
h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: whitesmoke
}

// mat-icon-stepper selected color change
::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background-color: red!important;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(92, 92, 92)!important;
    backdrop-filter: blur(8px);
    // opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgb(92, 92, 92)!important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: rgb(92, 92, 92)!important;
    opacity: 0.8!important;
}

// mat-input carent color
::ng-deep .mat-input-element {
    caret-color: rgb(92, 92, 92)!important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
    caret-color: rgb(92, 92, 92)!important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
    color: rgba(175, 175, 175, 0.707)!important;
    // color: $mainColor!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: rgb(92, 92, 92)!important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: red!important;
}

button {
    margin-top: .3em;
    margin-bottom: .3em;
    background-color: white;
    color: black;
    transition: ease all .2s;
}

button:hover {
    background-color: rgb(206, 209, 178);
    transform: scale(1.03);
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation:landscape) {
    .reset-passwd {
        width: 100%;
        max-width: none;
    }
    .input,
    .btn {
        width: 50%;
        margin: 1%;
        height: 3.8em;
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: bottom;
    }
}

// @media screen and ( max-height: 32rem) {
//     .reset-passwd {
//         display: block;
//         width: 100%;
//         max-width: none;
//     }
//     .input,
//     .btn {
//         width: 98%;
//         margin: 1%;
//     }
// }