<section class="reset-passwd">
    <h2><strong>{{ titleReset }}</strong></h2>
    <p>{{instructionsLabel}}</p>

    <div class="wrapper">
        <mat-form-field appearance="outline" class="input">
            <mat-label>{{ emailLabel }}</mat-label>
            <input matInput placeholder="Ex. TimiEmail@domain.com" [formControl]="email" style="color: white;" #passwordResetEmail required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <!-- Calling ForgotPassword from AuthService Api -->

        <button mat-stroked-button class="btn" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      <strong>
        {{resetBtnLabel}}
          </strong>
      </button></div>

</section>