#bg-motion {
    background-color: rgb(7, 7, 7);
    font-family: Androgyne;
    background-image: url('../../../../assets/images/auth-images/corndog-tile-1.png'), url('../../../../assets/images/auth-images/corndog-tile.png'), url('../../../../assets/images/auth-images/corndog-tile-2.png');
    height: 25vh;
    min-height: 15em;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 0;
    -webkit-animation: bg-motion 1000s linear infinite;
    -moz-animation: bg-motion 1000s linear infinite;
    -ms-animation: bg-motion 1000s linear infinite;
    animation: bg-motion 1000s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-box-shadow: inset -3px -40px 37px -25px #070707; 
    box-shadow: inset -3px -40px 37px -25px #070707;
}
.default-header{
  max-width: 50em;
}
.search-header{
  max-width: 100%;
}
.timiTitleSearch {
  width: 100%;
    height: 15vh !important;
    min-height: 10em !important;
}

@keyframes bg-motion {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    100% {
        background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;
    }
}

@-moz-keyframes bg-motion {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    100% {
        background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;
    }
}

@-webkit-keyframes bg-motion {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    100% {
        background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;
    }
}

@-ms-keyframes bg-motion {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    100% {
        background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;
    }
}

.timiTitle {
    width: 15vh;
    min-width: 10em;
    padding: 5px;
    margin-top: 5px;
}

.back-btn {
    position: absolute;
    top: .5rem;
    left: .5rem;
    color: white;
    transition: ease all .2s;
}

.back-btn:hover {
    background-color: #ffffff23;
}

header {
    height: 9vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 1vh;
    justify-content: center;
}

header>* {
    margin: 1em;
}

.searchBar {
    color: white;
    height: .5em;
    margin: 1em;
    width: 70vw;
}

.create-ad {
    background-color: yellow;
    width: 3em;
    height: 3em;
    margin: 0 !important;
    margin-right: 1em !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.2em !important;
}

.create-ad-icon {
    transition: .5s;
}

.create-ad:hover .create-ad-icon {
    transform: rotate(180deg);
}

// CSS Para el searchBar
:ng-deep .mat-form-field-flex>.mat-form-field-infix {
    padding: 0.4em 0px !important;
}

::ng-deep .mat-form-field-label-wrapper {
    top: -1.2em;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

// mat-icon-stepper selected color change
::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background-color: red!important;
}

//input outline color
 ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(214, 211, 211, 0.637)!important;
    backdrop-filter: blur(8px);
    height: 3em;
    // opacity: 1!important;
}

//mat-input focused color
 ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgb(214, 211, 211)!important;
}

// mat-input error outline color
 ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: rgb(214, 211, 211)!important;
    opacity: 0.8!important;
}

// mat-input carent color
 ::ng-deep .mat-input-element {
    caret-color: rgb(214, 211, 211)!important;
}

// mat-input error carent color
 ::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
    caret-color: rgb(214, 211, 211)!important;
}

// mat-label normal state style
 ::ng-deep .mat-form-field-label {
    color: rgba(175, 175, 175, 0.707)!important;
    // color: $mainColor!important;
}

// mat-label focused style
 ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: rgb(214, 211, 211)!important;
}

// mat-label error style
 ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: red!important;
}

// Media Querys
// Acordarse de añadir el boton en el grid de anuncios!!!
@media screen and (max-width:380px) {
    .create-ad {
        display: none;
    }
}

// Sidenav Button
.sidenav-button {
    width: 3em;
    height: 3em;
    margin-left: 1em !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.line1,
.line2,
.line3 {
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: white;
    width: 2em;
    height: 3px;
    border-radius: 5px;
    transition: .2s;
}

.sidenav-button-clicked {
    width: 3em;
    height: 3em;
}

.line1-clicked {
    transform: rotate(-45deg);
    margin: 0;
}

.line2-clicked {
    transform: rotate(90deg);
    display: none;
    margin: 0;
}

.line3-clicked {
    transform: rotate(45deg);
    margin: 0;
}
