<div id="bg-motion">
  <button mat-button (click)='back()' routerLinkActive="router-link-active" class="back-btn">
  <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <img src="../../../../assets/images/auth-images/TimiTitle.svg" class="timiTitle " id="timiTitle" alt="">
  <header>
    <mat-icon matSuffix style="color:white">menu</mat-icon>

    <mat-form-field appearance="outline" class="searchBar">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix style="position:relative !important;top: -.2em !important;">search</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </header>
</div>
