<div id="bg-motion" class="{{timiTitleClass}}">
    <button mat-button (click)='back()' routerLinkActive="router-link-active " class="back-btn ">
  <mat-icon>arrow_back_ios</mat-icon>Atrás
  </button>
    <img src="../../../../assets/images/auth-images/TimiTitle.svg " [hidden]="search " class="timiTitle " id="timiTitle " alt=" ">
    <header>
        <div class="sidenav-button " (click)="this.sidenav.toogle() " [hidden]="search ">
            <div class="line1 "></div>
            <div class="line2 "></div>
            <div class="line3 "></div>
        </div>

        <mat-form-field appearance="outline" class="searchBar">
            <mat-label>{{searchBarLabel}}</mat-label>
            <input matInput placeholder="{{searchBarLabel}} ">
            <mat-icon matSuffix style="position:relative !important;top: -.2em !important; " routerLink="/search-users">search</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>

        <button mat-fab mat-raised-button class="create-ad " [hidden]="search ">
      <mat-icon  style="color:black " class="create-ad-icon ">add</mat-icon>
    </button>
    </header>
</div>