
<div id="bg-motion" >
  <button mat-button (click)='back()' routerLinkActive="router-link-active" class="back-btn">
  <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <img src="../../../../assets/images/auth-images/TimiTitle.svg" class="timiTitle " id="timiTitle" alt="">
  <header>
    <div class="sidenav-button" (click)="this.sidenav.toogle()">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>

    <mat-form-field appearance="outline" class="searchBar">
      <mat-label>{{searchBarLabel}}</mat-label>
      <input matInput placeholder="{{searchBarLabel}}">
      <mat-icon matSuffix style="position:relative !important;top: -.2em !important;">search</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <button mat-fab mat-raised-button class="create-ad" >
      <mat-icon  style="color:black" class="create-ad-icon">add</mat-icon>
    </button>
  </header>
</div>
