#bg-motion {
    background-color: rgb(7, 7, 7);
    font-family: Androgyne;
    background-image: url('../../../assets/images/auth-images/corndog-tile-1.png'), url('../../../assets/images/auth-images/corndog-tile.png'), url('../../../assets/images/auth-images/corndog-tile-2.png');
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
    -webkit-animation: bg-motion 1000s linear infinite;
    -moz-animation: bg-motion 1000s linear infinite;
    -ms-animation: bg-motion 1000s linear infinite;
    animation: bg-motion 1000s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-box-shadow: inset 50px 50px 50px -18px #000000, inset -50px -50px 50px -18px #000000, inset -50px 50px 50px -18px #000000, inset 50px -50px 50px -18px #000000, inset 50px -50px 50px -18px #000000;
    box-shadow: inset 50px 50px 50px -18px #000000, inset -50px -50px 50px -18px #000000, inset -50px 50px 50px -18px #000000, inset 50px -50px 50px -18px
}

@media screen and ( max-height: 30rem) and ( max-width: 32rem) {
    main {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
        margin-top: 5em !important;
        padding-right: .5em;
    }
}

main {
    margin: 1em;
}

.swal2-confirm {
    background-color: yellow;
}

@keyframes bg-motion {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    100% {
        background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;
    }
}

@-moz-keyframes bg-motion {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    100% {
        background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;
    }
}

@-webkit-keyframes bg-motion {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    100% {
        background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;
    }
}

@-ms-keyframes bg-motion {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    100% {
        background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;
    }
}

.timiTitle {
    /* animation css */
    // position: absolute;
    top: 15vh;
    width: 55vh;
    align-self: center;
    max-width: 20em;
    -moz-transition: ease all .2s;
    -webkit-transition: ease all .2s;
    -moz-transition: ease all .2s;
    -o-transition: ease all .2s;
    transition: ease all .2s;
}

.back-btn {
    position: absolute;
    top: .5rem;
    left: .5rem;
    color: white;
    transition: ease all .2s;
}

.back-btn:hover {
    background-color: #ffffff23;
}

@media screen and ( max-height: 32rem) {
    .timiTitle {
        height: 0em;
        width: 0;
    }
}
