<div id="bg-motion">
    <button mat-button (click)='back()' routerLinkActive="router-link-active" *ngIf="!hasRoute('init')" class="back-btn">
    <mat-icon>arrow_back_ios</mat-icon>
      {{backBtnLabel}}
    </button>

    <img src="../../../assets/images/auth-images/TimiTitle.svg" class="timiTitle " id="timiTitle" alt="">


    <app-loading-spinner *ngIf="showSpinner">
    </app-loading-spinner>

    <main [@authAnimations]="getRouteAnimationData()">
        <router-outlet></router-outlet>
    </main>
</div>