<aside class="sidenav-wrapper">
    <div class="top-wrapper">
        <div class="top-layout">
            <section class="profile-info">

                <img class="profile-navbar-image" src="{{ photoUrl }}" alt="Profile Image" onerror="this.onerror=null;this.src='../../../assets/images/auth-images/default-profile-img.png';">
                <div class="user-info-wrapper">
                    <div class="online-status"></div>
                    <div class="user-name-wrapper">
                        <h2 class="user-name">{{userName}}</h2>
                    </div>
                </div>
            </section>
            <section class="nav-list2" style="margin-left: -5em; margin-top: -3em;">
                <ul style="list-style: none;">
                    <li>
                        <button mat-button> <mat-icon>person_add</mat-icon>Chats</button>

                    </li>
                    <li>
                        <button mat-button> <mat-icon>manage_accounts</mat-icon>Mi cuenta</button>

                    </li>
                </ul>
            </section>
        </div>
    </div>
    <div class="bottom-wrapper">
        <div class="bot-layout">
            <section class="nav-list">
                <ul style="list-style: none;">
                    <li>
                        <button mat-button><mat-icon>visibility</mat-icon>TimiNews</button>
                    </li>
                    <li>
                        <button mat-button><mat-icon>store</mat-icon>TimiMarket</button>
                    </li>
                    <li>
                        <button mat-button routerLink="/settings"><mat-icon>settings</mat-icon>Configuración</button>
                    </li>
                </ul>
            </section>
            <button mat-button style="color:red" (click)="logout()"><mat-icon>logout</mat-icon>Cerrar sesión</button>

        </div>
    </div>
</aside>
