mat-drawer-container {
    height: 100%;
    width: 100%;
}

.mat-drawer-content {
    height: 100%;
    background-color: rgb(7, 7, 7);
}

.mat-drawer {
    box-shadow: none;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(26, 1, 34, 0.158);
    backdrop-filter: blur(10px);
}

.router-wrapper {
    position: absolute;
    background-color: rgb(7, 7, 7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}