

<main >
  <div class="hideScroll">
  <section class="option-section" style="margin-top:.5em;">

    <div class="platform-choser">
      <span class="icon-box">
        {{levelLab}}
        <div *ngIf="contentLoaded" class="age-option" style="color: yellow;">{{selected.level}}</div>

      <ngx-skeleton-loader *ngIf="!contentLoaded"
      count="1"
  appearance="line"
  animation="progress"
  [theme]="{
    'background-color': '#FFBF00',
    height: '30px',
    width: '30px',
    'margin-left': '0',
    'margin-top': '1em'
  }"
></ngx-skeleton-loader>
</span>

    <div class="divider"></div>
      <span class="icon-box">
        {{ratingLab}}

        <div *ngIf="contentLoaded" class="rating-input">
          <div class="point {{point[0]}}"></div>
          <div class="point {{point[1]}}"></div>
          <div class="point {{point[2]}}"></div>
          <div class="point {{point[3]}}"></div>
          <div class="point {{point[4]}}"></div>
          <div class="point {{point[5]}}"></div>
          <div class="point {{point[6]}}"></div>
          <div class="point {{point[7]}}"></div>
          <div class="point {{point[8]}}"></div>
          <div class="point {{point[9]}}"></div>
        </div>


        <ngx-skeleton-loader *ngIf="!contentLoaded"
        count="1"
    appearance="line"
    animation="progress"
    [theme]="{
      'background-color': '#FFBF00',
      height: '30px',
      width: '30vw',
      'margin-top': '1em',
      'margin-left': '0',
      'max-width': '10em'
    }"
  ></ngx-skeleton-loader>



    </span>
      <div class="divider"></div>

    <span class="icon-box">
      {{locartionLab}}

      <h3 *ngIf="contentLoaded" style="color:yellow;margin-bottom: -13px;font-size: .9em; font-style: italic;">{{details.city}} </h3>
      <h3 *ngIf="contentLoaded" style="color:yellow;margin-bottom: 0px;font-size: .9em; font-style: italic;">{{details.country}}</h3>
      <ngx-skeleton-loader *ngIf="!contentLoaded"
      count="1"
  appearance="line"
  animation="progress"
  [theme]="{
    'background-color': '#FFBF00',
    height: '30px',
    width: '10vw',
    'margin-top': '1em',
    'margin-left': '0'
  }"
></ngx-skeleton-loader>

    </span>



    </div>
  </section>




  <section class="option-section">

    <div class="platform-choser">
      <span class="icon-box">
        {{platformLab}}


      <img *ngIf="contentLoaded" style="margin-top: .8em !important;" src="{{icon}}" class="icon" alt="">

      <ngx-skeleton-loader *ngIf="!contentLoaded"
      count="1"
  appearance="circle"
  animation="progress"
  [theme]="{
    'background-color': '#FFBF00',
    height: '40px',
    width: '40px',
    'margin-top': '.5em',
    'margin-left': '0'
  }"
></ngx-skeleton-loader>


    </span>


    <div class="divider"></div>
      <span class="icon-box">
        {{ageLab}}


        <ngx-skeleton-loader *ngIf="!contentLoaded"
        count="1"
    appearance="line"
    animation="progress"
    [theme]="{
      'background-color': '#FFBF00',
      height: '30px',
      width: '45px',
      'margin-top': '1em',
      'margin-left': '0'
    }"
  ></ngx-skeleton-loader>

        <div *ngIf="contentLoaded" class="age-option" style="color: yellow;">{{ userAge }}</div>

    </span>
      <div class="divider"></div>

    <span class="icon-box ">
      {{targetLab}}
      <div class="clicked" style="margin-top: .5em;">
        <img *ngIf="contentLoaded" src="{{target}}" class="icon" alt="">
      </div>

      <ngx-skeleton-loader *ngIf="!contentLoaded"
      count="1"
  appearance="circle"
  animation="progress"
  [theme]="{
    'background-color': '#FFBF00',
    height: '40px',
    width: '40px',
    'margin-top': '0',
    'margin-left': '0'
  }"
></ngx-skeleton-loader>

    </span>
    </div>
  </section>

  <section *ngIf="this.hasDescription">
  <div class="description-head waves-light" style="padding-left:1em;padding-right:1em;font-weight: bold;" (click)="test.toggle();toogleArrow(test.isCollapsed)" mdbWavesEffect>
    {{descriptionLab}}
    <mat-icon >{{arrow}}</mat-icon>
  </div>
  <div class="description-style" >
    <div mdbCollapse #test="bs-collapse">
      {{description}}
      </div>
  </div>
</section>

<div class="section-divider"><br></div>


  <!-- GAMES SECTION -->

  <span class="icon-box" style="margin:1em;align-items:flex-start; width: 100%;">
      {{mostPlayedLab}}
    </span>



  <section class="games-section">

    <div class="example-game-box one" style="background-image: url( {{ gameImg1 }} );"><br></div>
    <div class="example-game-box two" style="background-image: url( {{ gameImg2 }} );"><br></div>
    <div class="example-game-box three" style="background-image: url( {{ gameImg3 }} );"><br></div>

  </section>



<!-- END GAMES SECTION -->



</div>
  <div class="btn-section">

  <button mat-stroked-button class="chat-btn">Chat</button>
  </div>

</main>
