<section class="main-reg-log">

    <h2><strong>{{ signInTitle }}</strong></h2>

    <mat-form-field appearance="outline" class="input-login">
        <mat-label>{{ emailLabel }}</mat-label>
        <input matInput placeholder="Ex. TimiEmail@domain.com" [formControl]="email" style="color: white;" #userName required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage(0)}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" color="secondary" class="input-login">
        <mat-label>{{ passwdLabel }}</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" style="color: white;" [formControl]="passwd" #userPassword>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'{{hidePasswdLabel}}'" [attr.aria-pressed]="hide" style="background-color:rgba(0, 0, 0, 0)">
          <mat-icon style="color:rgb(129, 129, 129)">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwd.invalid">{{getErrorMessage(1)}}</mat-error>
    </mat-form-field>

    <span routerLink="/auth/forgot-password" class="forgotPasswd">{{ forgotPasswdLabel }}</span>

    <br>
    <button mat-stroked-button (click)="submit()" class="btn"><strong> {{ loginBtnLabel }} </strong></button>

    <span style="align-self: center;" class="or">{{orLabel}}</span>

    <button mat-stroked-button (click)="authService.GoogleAuth()" class="btn">
      <img src="https://img.icons8.com/plasticine/344/google-logo.png" style="width:2.5em;position:absolute;left:0;" alt="Google login icon"><strong>
      {{GLoginBtnLabel}}</strong>
    </button>

</section>