
main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: .5em;
  overflow-x: hidden;
}
.ad-grid-body {
  // background: #111111;
  color: whitesmoke;
  width: 90vw;
  max-width: 40em;
}


.no-ads{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 100%;
  padding-top: 30px;

}


.timi-ads{

  display: grid;



  grid-template-columns: repeat(3, 1fr);
  grid-gap: .5vw;

  grid-auto-rows: minmax(80px, auto);




  /* Put a card in the next row when previous cards take all width */
//   flex-wrap: wrap;

//   margin-left: -8px;
//   margin-right: -8px;
//   justify-content: flex-start;
//   align-items: flex-start;
//   height: calc(7vw - 50%);
  app-ad-card {
    margin-top:3px;
    margin-bottom:3px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 45vw;
    max-height: 250px;
    margin-right: 0;
    margin-left: 0;
    // padding-left: 1vw;
    // padding-right: 1vw;
    // padding-bottom: 1vw;
    // padding-top: 1vw;
    // width: 7vw;
  }

  .fake-skeleton-timiUser {
    margin-top:3px;
    margin-bottom:3px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 45vw;
    max-height: 250px;
    margin-right: 0;
    margin-left: 0;
  }

}

@media screen and (max-width:500px) {
  app-ad-card{
    height: 45vw;
  }
}

::ng-deep .carousel .carousel-control-next-icon{
  background-image: url('../../../../assets/icons/arrow-right.svg') !important;
  width: 2.5em !important;
  height: 2.5em !important;
  margin-left: 3em;
  position: absolute;
  filter: invert(12%) sepia(63%) saturate(6234%) hue-rotate(246deg) brightness(1070%) contrast(156%);

}

::ng-deep .carousel .carousel-control-prev-icon{
  background-image: url('../../../../assets/icons/arrow-left.svg') !important;
  width: 2.5em !important;
  height: 2.5em !important;
  margin-right: 3em;
  position: absolute;
  filter: invert(12%) sepia(63%) saturate(6234%) hue-rotate(246deg) brightness(1070%) contrast(156%);

}

::ng-deep .carousel-indicators{
  display: none !important;
}


@media screen and (max-width:410px) {
  ::ng-deep .carousel .carousel-control-prev-icon{
    margin-right: 1em !important;
  }

  ::ng-deep .carousel .carousel-control-next-icon{

    margin-left: 1em !important;
  }

}








//  AD DETAILS CSS -----------------------------------------------




.ad-detail-container{
  backdrop-filter: blur(10px);
  position: fixed;

  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 3;
  -webkit-transition: max-height 200ms ease-out;
  -moz-transition: max-height 200ms ease-out;
  -o-transition: max-height 200ms ease-out;
  transition: max-height 200ms ease-out;

}

.img-wrapper{
  width: 100%;
  height: auto;
  min-height: 40vh;
  max-height: 60vh;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: max-height 200ms ease-out;
  -moz-transition: max-height 200ms ease-out;
  -o-transition: max-height 200ms ease-out;
  transition: max-height 200ms ease-out;


}
.img-wrapper > img{
  position: fixed;
  width: 100%;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(9px);
}


.main-content{
  position: fixed;
  bottom:0;
  color: white;
  padding: 1.5em;
  width: 100%;
  height:80%;
  z-index: 10;
  background: #101010;
  max-width: 65em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-border-top-left-radius: 34px;
  -webkit-border-top-right-radius: 34px;
  -moz-border-radius-topleft: 34px;
  -moz-border-radius-topright: 34px;
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;




}
@media screen and (min-width:60em){
  .title-wrapper{
    padding-left: 3vw;
    padding-right: calc(3vw + 1.5em);
  }
}

.title-wrapper{
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: stretch;
  padding-bottom:1em;
}
.mini-img{
  width: 2.5em;
  height: 2.5em;
  margin-right: 1em;
  border-radius: 9px;
  background-color: yellow;
}
@media screen and(max-width:350px) {
  .main-content{
    padding-left: 0;
    padding-right: 0;
  }
  .title-wrapper{
    margin-left: 2em;
  }

  }

@media screen and(max-width:1120px) {

.main-content{
  max-width: none;
  left:0px
}

}




// SKELETON CARDS


.fake-skeleton-timiUser,
.fake-skeleton-timiPro{
  width: 98%;
height: 98%;
border-radius: 11px;
border: 1px solid rgba(0, 0, 0, 0);
display: flex;
flex-direction: column;
padding: 10px;
}

.fake-skeleton-timiUser{
  border-color: rgba(109, 109, 109, 0.63);
  background-color: #1a1919;
}
.fake-skeleton-timiPro{
  background-color: #5900B1;
  margin: none;
}

.info-wrapper-skeleton{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}




.accessibility-shadow{
  content: '';
  position:absolute;
  top: -1em;
  left: -1em;
  width: 1em;
  height: 1em;
  z-index: 4;
  -webkit-box-shadow: 30px 30px 50px 28px rgba(0,0,0,0.61);
  box-shadow: 30px 30px 50px 28px rgba(0,0,0,0.61);

}
